h1 {
	color: #333;
	font-size:18px;
	font-weight:bold;
	padding-bottom:8px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;		
}

td, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #333;   
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color:#333333;
}

p {
 	font-family: Verdana, Arial, Helvetica, sans-serif;
}

img {
	border:0px;
}

body {
	margin: 0px; 
	padding: 0px;		
	text-align:left;		
	height: 100%;
	background:#F0F0F0;
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
